@import "tailwindcss";

:root {
  --deep-red: #D72638;
  --midnight-navy: #13252D;
  --slate-blue: #1E2F3C;
  --soft-white: #F7F9FA;
  --charcoal-black: #101010;
  --grayish-blue: #3B4D5C;
}

body {
  background-color: var(--soft-white);
  color: var(--charcoal-black);
}

/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}